.active {
  background: whitesmoke;
  border-radius: .05rem;
}

.nav-item-custom {
  font-size: 150%;
  justify-content: end;
}

.navbar-custom {
  margin-left: auto;
}

img {
  
  border-color: black;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.about-me {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 0px;
  height: auto;
  min-height: 100vh;
  align-items: center;
}

.about-me::before{
  content: "";
  position: absolute;
  background-image: url(./Assets/greenglobe.jpeg);
  background-position: 0% 33%;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.about-me p {
  position: relative;
  padding-top: 30px;
  margin-left: 1rem;
  font-size: 120%;
  width: 60%;
  line-height: 2;
  text-align: left;
  color: rgb(59,59,59);
}

.about-me h1 {
  position: relative;
  padding-top: 30px;
  margin-left: 1rem;
  text-align: left;
  width: 60%;
  color: rgb(59,59,59);
}

/* .myPic {
  size: 20%;
  float: right;
} */

.icons {
  font-size: 100%;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}

.contact-bg {
  background: rgb(120, 181, 133);
}

.app-bg {
  min-height: 500px;
  padding-top: 1rem;
}

.photos {
  overflow: hidden;
  max-width: 70%;
  max-height: 70%;
  margin: auto;
  margin-bottom: 2rem;
}